.App {
  text-align: center;
}

.search-section {
  margin: 10px;
}
.text-center {
  text-align: center;
  width: 90%;
  margin: auto;
  display: inline-block;
  background-color: hotpink;
}
.product-card {
  margin: 10px 0px;
}
.small-header {
  text-align: right;
  color: grey;
}
.product-title {
  font-size: 14pt;
  font-weight: bold;
}
.product-price {
  font-size: 12pt;
  font-weight: bold;
}
.search-box {
  width: 250px;
  border-radius: 0px 5px 5px 0px;
  height: 40px;
}
.horizontal-menu {
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}
.horizontal-scroll {
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 15px;
}

.App-logo {
  width: 100%;
  pointer-events: none;
  vertical-align: middle;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nectico-logo {
  height: 8vmin;
  pointer-events: none;
}

.dinas-logo {
  height: 18vmin;
  pointer-events: none;
}
.footer {
  text-align: center;
}

.grey {
  color: #7a7a7a;
}
.yellow-background {
  background-color: #fcd736 !important;
}
.product-icon {
  height: 50px;
  background-color: #f3f3f3;
}
